[Unit]
Description=Lurk Alert Flask Server
After=network.target

[Service]
ExecStart=~/LurkAlert/sh/start_server.sh
WorkingDirectory=~/LurkAlert/src/back-end
Restart=always
User=lurk
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target