.video-feed-container {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 640px;
  /* max-height: 340px; */
  /* margin: 0; */
}

.video, .video-placeholder, .recording-indicator{
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  max-width: 640px;
  box-sizing: border-box;
}

.video{
    border: 2px solid var(--color-text-special-glow);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video-placeholder{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: var(--color-text-special);
    text-shadow: 0 0 10px var(--color-text-special-glow);
    background-color: var(--color-surface-alt);
    border: 1px solid var(--color-text-special-glow);
}

.recording-indicator{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: red;
  text-shadow: 0 0 10px #ff4949;
  background-color: #380000;
  border: 1px solid red;
}

@media screen and (max-width: 768px) {
  .video, .video-placeholder, .recording-indicator .video-feed-container{
    width: 100vw;
    max-width: 100%;
    height: auto;
    font-size: 1rem;
  }

  .video-feed-container{
    margin:0 auto;
    padding: 16px;
  }
}