.system-status-table{
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px var(--color-surface);
    background-color: var(--color-surface-alt);
    color: var(--color-text);
    table-layout: fixed;
}

.system-status-table caption{
    font-size: medium;
    padding: 10px;
    text-shadow: 0 8px 20px var(--color-surface);
}

.system-status-table thead{
    border-bottom: 1px solid #ccc;
}

.system-status-table tr{
    width: 100%;
    justify-content: center;
    align-items: center;
}

.system-status-table th, td{
    width: 100%;
    justify-content: center;
    font-size: small;
    min-width: 50px;
    text-align: center;
    align-content: center;
    padding: 5px;
}

.system-status-table button{
    width: 100%;
    background-color: transparent;
    border: none;
    justify-content: center;
    font-size: medium;
    min-width: 50px;
    text-align: center;
    align-content: center;
    padding: 5px;
    color: var(--color-text);
    font-family: 'Orbitron', sans-serif;
}

.system-status-table button:hover{
    background-color: var(--color-surface-alt);
    color: var(--color-text);
    text-shadow: var(--glow-primary), 0 0 10px var(--glow-special);
    box-shadow: 0 0 5px var(--color-text-special-glow);
    cursor: pointer;
    border-radius: 10px;
}
.desktop-label {
    display: inline;
    }
    .mobile-label {
    display: none;
    }

@media screen and (max-width: 1000px) {
    .system-status-table th, td{
        font-size: 0.5rem;
    }

    .system-status-table th, td{
        padding: 6px;
    }

    .system-status-table button{
        font-size: small;
        padding: 6px;
    }
    .desktop-label {
        display: none;
    }
    .mobile-label {
        display: inline;
    }
}